.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #333;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    cursor: pointer;
  }
  
  .row {
    display: flex;
  }
  
  .board {
    display: inline-block;
    margin: 20px;
    border-spacing: 5px;
  }
  
  .player-ship {
    background-color: blue;
  }
  
  .computer-ship {
    background-color: orange;
  }
  
  .hit {
    background-color: red;
  }
  
  .miss {
    background-color: lightgray;
  }
  